body {
    background-color: #87CEEB; /* Azul céu da HQ */
    font-family: 'Comic Sans MS', 'Comic Neue', cursive; /* Estilo HQ */
    color: #333;
}

header {
    background: #FFD700;
    border: 5px solid #000;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 10px 10px 0px #CC0000; /* Sombra sólida estilo pop-art */
}

h1 {
    text-transform: uppercase;
    -webkit-text-stroke: 1px black;
}

/* Container do Heyzine com borda de quadrinhos */
.flipbook-section {
    border: 8px solid #000;
    background: white;
    padding: 10px;
    transform: rotate(-1deg); /* Leve inclinação para dar dinamismo */
}